bin
build
README.txt
.classpath
.settings
.project
.DS_Store

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/memoranda/.syncinfo.snap

lib/swexpl.jar

lib/swag.jar

lib/junit-noframes.xsl

lib/junit-frames.xsl

lib/junit-frames-xalan1.xsl

lib/junit-4.10.jar

lib/jsr305.jar

lib/jFormatString.jar

lib/jaxen-1.1.6.jar

lib/jacocoant.jar

lib/jacocoagent.jar

lib/jacoco.exec

lib/findbugs-ant.jar

lib/findbugs.jar

lib/dom4j-1.6.1.jar

lib/CST316CheckstyleConfig.xml

lib/commons-lang3-3.3.2.jar

lib/commons-lang-2.6.jar

lib/commons-io-2.4.jar

lib/checkstyle-6.15-all.jar

lib/bcel-6.0-SNAPSHOT.jar

lib/asm-debug-all-5.0.2.jar

.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
